@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Finlandica&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

:root {
	--dark-color-a: rgb(23, 0, 74);
	--dark-color-b:rgb(198, 188, 255);
	--light-color: #f7e2ff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('/static/chatBackground.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: whitesmoke;
	color: darkblue;
	border: 0;
	font-size: 17px;
}

.logo-image {
	max-width: 50px;
  }

.chat-container {
	max-width: 1100px;
	background: var(--dark-color-b);
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: rgb(30, 0, 91);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
	max-width: 1100px;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1e0065;
    margin: 0 auto; /* Center horizontally */
   
}

.join-header .logo,.chat-header .logo{
	font-size: 2.5rem;
	font-weight: bolder;
	color: whitesmoke;

}

.join-header {
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
    padding: 30px 40px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	font-size: large;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}