<!DOCTYPE html>
<html>
	<head>
		<title>Sign In</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis&family=Finlandica&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
		<!-- swiper -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
		/>
		<!-- lightgallery -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css"
		/>
		<!-- custom css -->
		<link rel="stylesheet" href="css/style.css" />

		<style>
			body {
				margin: 0;
				padding: 0;
				font-family: Arial, sans-serif;
				background-image: url('static/backgroundPicture.png');
				background-size: cover;
				background-position: center;
			}
		</style>

	</head>

	<body>
		<section class="header">
			<a href="index.html" class="logo">
				<img src="static/theLogo.png" alt="Candyz Logo">
			</a>

			<nav class="navbar">
				<a href="index.html">home</a>
				<a href="signUp.html">sign up</a>
				<a href="">sign in</a>
			</nav>

			<div id="menu-btn" class="fas fa-bars"></div>
		</section>
		<section class="sign" id="sign">
			<h1 class="heading">sign in</h1>
			<form action="/signin" method="POST" id="signinForm">
				<div class="box-container">
					<div class="box">
						<div id="errorMessages" class="alert" style="display: none; color: red; font-size: medium; margin-top: 5px; ">
							alert text
						</div>
						<div class="inputBox">
							<span>email</span>
							<input type="email" name="email" id="emailInput" placeholder="enter your email" />
							<div id="emailAlert" class="alert" style="display: none; color: red; font-size: medium; margin-top: 5px; ">No such user exists</div>
						</div>
						<div class="inputBox">
							<span>password</span>
							<input type="password" name="password" id="passwordInput" placeholder="enter your password" />
							<div id="passwordAlert" class="alert" style="display: none; color: red; font-size: medium; margin-top: 5px; ">Invalid password</div>
						</div>
					</div>
				</div>
				<input type="submit" value="sign in" class="btn" />
			</form>

			<script>
				//------------------Fetching data from DB about exist users 
				document.addEventListener("DOMContentLoaded", () => {
					const emailInput = document.getElementById('emailInput');
					const passwordInput = document.getElementById('passwordInput');
					const urlParams = new URLSearchParams(window.location.search);
					const error = urlParams.get('error');
					const errorMessages = document.getElementById('errorMessages');
					if (error ) {
						const errorMessage = JSON.parse(decodeURIComponent(error)).text;
						errorMessages.textContent = errorMessage;
						errorMessages.style.display = 'block';
						event.preventDefault();

						setTimeout(() => {
							errorMessages.style.display = 'none';
						}, 2000);
					} else {
						if (!window.location.search.includes('error=')) {
							errorMessages.style.display = 'none';
							event.preventDefault();

						}
					}
				});
			</script>
				<script>
					//------------------- missing email or pw alerts------------------------
				document.getElementById('signinForm').addEventListener('submit', async function(event) {
					const emailInput = document.getElementById('emailInput');
					const passwordInput = document.getElementById('passwordInput');
					const emailAlert = document.getElementById('emailAlert');
					const passwordAlert = document.getElementById('passwordAlert'); 
		
					//user validtion check
					if (!emailInput.value || !passwordInput.value && !(emailInput.value && passwordInput.value)) {
						if(!emailInput.value && !passwordInput.value){ // if input fields are empty.
							passwordAlert.style.display = 'block';
							passwordAlert.textContent = 'Please enter Password.'
							emailAlert.style.display = 'block';
							emailAlert.textContent = 'Please enter Email.'
							event.preventDefault();
						}
						else{
							if (!emailInput.value) { //if email input field is empty
								emailAlert.style.display = 'block';
								emailAlert.textContent = 'Please enter Email.'
								event.preventDefault();
							}
							else{
								emailAlert.style.display = 'none';
							}
							if (!passwordInput.value && emailInput.value) { //if password field is empty but email isnt
								passwordAlert.style.display = 'block';
								passwordAlert.textContent = 'Please enter Password.'
								event.preventDefault();
							}
						}
					} 
					else if(passwordInput.value.length < 6 || passwordInput.value.length > 12){ // if the password is not valid.
									passwordAlert.style.display = 'block';
									passwordAlert.textContent = 'Please enter a valid password (6-12 characters).'
									event.preventDefault();
								}
							else{
								passwordAlert.style.display = 'none';
							}

				});
			</script>
				<script>
					//---------------Fetching data from DB about exist users------------------------
					document.addEventListener("DOMContentLoaded", () => {
						const urlParams = new URLSearchParams(window.location.search);
						const error = urlParams.get('error');
						const errorMessages = document.getElementById('errorMessages');
						if (error) {
							const errorMessage = JSON.parse(decodeURIComponent(error)).text;
							errorMessages.textContent = errorMessage;
							errorMessages.style.display = 'block';
							event.preventDefault();
							setTimeout(() => {
									errorMessages.style.display = 'none';
								}, 2000);
						} else {
							if (!window.location.search.includes('error=')) {
								errorMessages.style.display = 'none';
							}
						}
					});
				</script>

		<!-- footer -->

		<section class="footer">
			<div class="icons-container">
				<div class="icons">
					<i class="fas fa-map"></i>
					<h3>address</h3>
						<p>
							Elie Wiesel St 2, Rishon LeTsiyon,  Israel
						</p>
				</div>

				<div class="icons">
					<i class="fas fa-phone"></i>
					<h3>phone</h3>
					<p>03-333-3333</p>
					<p>07-777-7777</p>
				</div>

				<div class="icons">
					<i class="fas fa-clock"></i>
					<h3>opening hours</h3>
					<p>
						Sunday - Thursday : 9:00 - 22:00 <br />
						Friday: 9:00 - 11:00
					</p>
				</div>
			</div>

		</section>

		<!-- footer -->
	</body>
</html>